@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
:root {
    --a: #1B70A6;
    --b : #1BBFAF;
    --c: #F2C49B;
    --d: #A6705D;
    --e: #F2C9BB;

}
* {
    padding: 0;
    margin: 0;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}
body {
    background: rgb(233, 231, 231);

}

/* Estilos Generales */

/* NAV */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	height: 10vh;
	font-size: 3rem;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
    background-color: var(--a);
}
.navCont {
    align-self: center;
    margin-right: 2vw;
}
.imgCont {
    margin-top: 2vh;
    align-self: center;
}
div > img {
    width: 20vw;
}
div > a {
	text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    text-shadow: var(--gris) 3px 3px 4px;
    color: var(--c);
}

a:hover {
    text-shadow: var(--e) 3px 3px 4px;
	border-radius: 10%;
}


/* Footer */

footer{
    position: absolute;
    bottom: 0;
    min-height:8vh;
    width:100%;
    background-color:var(--a);
    color: black;
}
footer>p{
    text-align: center;
    margin-top: 0.5vh;
    font-weight: bold;
}
a > img {
    width: 2vw;
    margin-top: 0.5vh;
}

/* MEDIA MENOS 768 */

@media screen and ( min-width: 1px) and (max-width: 830px) {

    nav{
        position: fixed;
        bottom: 0;
        top: 0;
        right:-320px; /* Escondemos nuestro menú con un valor negativo */ 
        height: 100%;
        z-index: 1;
        padding: 90px 30px 30px;
        background: var(--c);
        opacity: 0;
        transition: all 0.75s ease;
        font-size: 1.2em;
        align-items: flex-start;
    }
    nav a{
        display:block;
        text-decoration: none;
        padding: 10px;
        color: var(--a);
        opacity: 1;
        transition: all ease 0.25s;
    }

    nav a:hover{
        color: rgba(255,255,255,1);
        border-bottom-color:rgba(255,255,255,0.4);
        border-radius: 5%;
    }
    .imgCont {
        display: none;
    }

   #menu_on{
        display: inline-block;
        width:30px;
        position: relative;
        z-index: 2;
        left: 80%;
    }

     #menu_on span{
        width: 40px;
        height: 5px;
        border-radius: 4px;
        display: block;
        background: var(--a);
        transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
        transform-origin : 0px 100%;
        margin: 1vh;
    }


    #menu_on span:nth-child(2){
        top: calc(50% - 2px);
    }

    #menu_on span:nth-child(3){
        bottom: 0;
    }

    .visible_menu span:nth-child(1){
        transform: rotate(45deg) translate(-2px,1px); 
        z-index: 1;
    }

    .visible_menu span:nth-child(2){
        opacity: 0;
    }

    .visible_menu span:nth-child(3){
        transform: rotate(-45deg) translate(-2px,1px); 
    }
    .visible_menu nav{
        right: 0;
        z-index: 1;
        opacity: 0.9;
    }
    .visible_menu #content{
        transform: translateX(150px);
    }
}
/* FORM */

main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto; 
}
form {
  display: flex;
  flex-direction: column;
  border: 2px solid #d09b52;
  padding: 40px 10px 0px 40px;
  width: 70%;
  max-width: 700px;
  border-radius: 20px;
  
}
#focus {
  border: 3px solid #fef6fb;
  box-shadow: 0 0 10px 0 #d09b52;
  position: absolute;
  pointer-events: none;
  z-index: 5;
  border-radius: 10px;
  display: none;
}
h1 {
  margin-bottom: 30px;
  font-size: 2em;
  color: #000;
  margin:2vh 0;
  text-align: center;
}
input, select{
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s ease;
  color: var(--a);
  margin:2vh 0;
}

/* CARD */
.card{
  align-items: center;
  width: 320px;
  height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective:600px;
  margin: 5rem 0;
  border: 0 !important;
}

.card__part{
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    left: 0;
    display: inline-block;
    width: 320px;
    height: 190px;
    border-radius: 8px;
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    z-index: -1 ;
}
.card__front{
    padding: 18px;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
}
.card__back {
    padding: 18px 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
}
.card__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}
.card__logo {
    height: 16px;
}
.card__front-logo{
    position: absolute;
    top: 18px;
    right: 18px;
}
.card__square {
    border-radius: 5px;
    height: 30px;
}
.card_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--a);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.card__space-75 {
    width: 75%;
    float: left;
}
.card__space-25 {
    width: 25%;
    float: left;
}
.card__label {
    font-size: 10px;
    text-transform: uppercase;
       color: var(--a);
    font-weight: bold;
    letter-spacing: 1px;
}
.card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
       color: var(--a);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.card__back-content {
    padding: 15px 15px 0;
}
.card__secret--last {
     color: var(--a);
    font-weight: bold;
    text-align: right;
    margin: 0;
    font-size: 16px;
}
.card__secret {
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}
.card__secret:before{
  content:'';
  position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% - 42px);
  border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}
.card__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.card:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

}
.card:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}
.alert{
    background-color: red;
    opacity: 0.7;
    position: relative;
    bottom: 5vh;
    left: 5vw;
}


