main {
    padding: 0;
    margin: 0;
}

header {
    background-color: #0dcaf0
    
}
form {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.btn {
    margin-right: 0;
}

/* ACCOUNTS */

@media (max-width: 800px) {
.navbar-toggle {
    display: block;
    float: left;
    padding: 24px;
    margin: 0;
    border: none;
    z-index: 1021;
}
.navbar-toggle {
    position: fixed;
    float: left;
    margin-left: 15px;
}
}